body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

input.invalid {
  border-color: red;
}

input.valid {
  border-color: green;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

#formMessage {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: green;
}


button {
  background: #4a90e2;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

button:hover {
  background: #357ABD;
}